.endcard_container {
  background-attachment: scroll;
  background: rgba(0, 0, 0, 0);
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(255, 255, 255);

  /* Box */
  overflow: hidden !important;
  width: 22rem;
  height: 10rem;
  border: 0.833333px solid rgba(255, 255, 255, 0.5);
  border-top: 0.833333px solid rgba(255, 255, 255, 0.5);
  border-right: 0.833333px solid rgba(255, 255, 255, 0.5);
  border-bottom: 0.833333px solid rgba(255, 255, 255, 0.5);
  border-left: 0.833333px solid rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 16px;
  // max-height: none;
  // min-height: auto;
  // max-width: none;
  // min-width: auto;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin: 0 1.4rem;
    color: var(--master-color);
    font-size: 4rem;
  }

  p {
    text-align: justify;
    ::-webkit-scrollbar {
      width: 1px;
    }
  }
}
.endcard_container:hover{
  background:  linear-gradient(to right, #007a3d67, #004e7059);
}
