.exclusivecard_container {
  border: 1px solid #ccc;
  border-radius: 7px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.06);
  color: rgb(255, 255, 255);
  height: 297.667px;
  width: 309.333px;
  border: 0.833333px solid rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 40px 24px;
  border-collapse: separate;
  overflow: visible;
  cursor: auto;
  visibility: visible;
  transition: all 0s ease;
  box-sizing: border-box;
  border-radius: 8px;
  overflow-y: hidden;
}
