.exclusivecard_container {
  border: 1px solid #ccc;
  border-radius: 7px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  background-image: linear-gradient(
    43deg,
    rgba(0, 6, 9, 0.46),
    rgba(0, 41, 19, 0.68)
  );
  color: rgb(255, 255, 255);
  height: auto;
  width: 309.333px;
  border: 0.833333px solid rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 30px 20px;
  border-collapse: separate;
  overflow: visible;
  cursor: auto;
  visibility: visible;
  transition: all 0s ease;
  box-sizing: border-box;
  border-radius: 8px;
  overflow-y: hidden;
  h5 {
    overflow-y: hidden;
    letter-spacing: 0px;
    font-size: 24px;
    margin-block: 5px;
  }
}

