.videocard {
  display: flex;
  gap: 1rem;

  img {
    max-inline-size: 40%;
  }

  .videocard_content_container {
    padding: 1rem;

    p {
      color: #7A7C7B;
    }
  }
}

.videocard_left {
  flex-direction: row-reverse;
}

.videocard_right {
  flex-direction: row;
}


@media screen and (max-width: 850px) {
  .videocard {
    display: flex;
    // gap:rem;
    padding: 5px;
  
    img {
      max-inline-size: 40%;
    }
  
    .videocard_content_container {
      padding: 1rem;
  
      p {
        color: #7A7C7B;
      }
    }
  }
}