.videocard {
  display: flex;
  gap: 3rem;

  img {
    max-inline-size: 40%;
  }

  .videocard_content_container {
    padding: 3rem;

    p {
      color: #7A7C7B;
    }
  }
}

.videocard_left {
  flex-direction: row-reverse;
}

.videocard_right {
  flex-direction: row;
}
