.howcard_container {
  width: 100%;
  font-family:IBM Plex Sans, sans-serif;
  overflow: hidden;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 10rem;
  border: 0.5px solid white;
  border-radius: 10px;
  align-items:center;
  padding: 1rem;
  background-image: linear-gradient(
    43deg,
    rgba(0, 6, 9, 0.46),
    rgba(0, 41, 19, 0.68)
  );

  p {
    font-size: 1.1vmax;
    margin: 2px;
  }
  h3{
    font-size:1.8vmax;
  }
}
@media screen and (max-width: 850px) {
  .howcard_container {
    height: 10rem;
    border: 0.5px solid white;
    border-radius: 10px;
    width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    p {
      font-size: 2.25vmax;
    }
    h3{
      font-size: 2.45vmax;
      margin-block: 5px;
      font-weight:bold;
    }
  }
}
