.howcard_container {
  height: 10rem;
  border: 0.5px solid white;
  border-radius: 10px;
  height: 10rem;
  width: 30rem;
  align-items: center;
  display: flex;

  p {
    font-size: 1.3vmax;
  }
}
