.howcard_container {
  width: 22rem;
  font-family:IBM Plex Sans, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  // justify-content: center;
  height: 12rem;
  border: 0.2px solid rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  align-items:center;
  // padding: 2rem;
  background: black;
  p {
    font-size: 1.3vmax;
    margin-inline-start: 10px;
    margin-block-start: 12px;
  }
  h3{
    overflow-y: hidden;
    letter-spacing: 0px;
    font-size: 24px;
    margin-block-start: 2rem;
  }
}
.howcard_container:hover{
  background:  linear-gradient(to right, #007a3d67, #004e7059);
}
@media screen and (max-width: 850px) {
  .howcard_container {
    height: 10rem;
    border: 0.5px solid white;
    border-radius: 10px;
    width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    p {
      font-size: 2.4vmax;
    }
    h3{
      font-size: 2.8vmax;
      margin-block-start: 15px;
      font-weight:bold;
    }
  }
}
