.navbar_container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vmax 15vmax;
  border-radius: 5px;
  background: linear-gradient(to right, #007a3c, #004f70);
  cursor: pointer;

  h3 {
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
  }

  svg {
    margin-left: auto;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (max-width: 850px) {
  .navbar_container{
    top: 0.5%;
    width: 100%;
    padding: 0.7rem;
  }
}
