
.workshopcard_contianer {
  background-attachment: scroll;
  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  /* Box */
  width: 45%;
  border: 0.833333px solid rgba(255, 255, 255, 0.24);
  border-top: 0.833333px solid rgba(255, 255, 255, 0.24);
  border-right: 0.833333px solid rgba(255, 255, 255, 0.24);
  border-bottom: 0.833333px solid rgba(255, 255, 255, 0.24);
  border-left: 0.833333px solid rgba(255, 255, 255, 0.24);
  padding: 1rem;
  transform: none;
  transition: all 0.2s ease 0s;
  outline: rgb(255, 255, 255) dashed 0px;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;

  h4 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.3rem;
  }
}
.workshopcard_contianer:hover{
  background:  linear-gradient(to right, #007a3d67, #004e7059);
  transition: 0.1s;
}

@media screen and (max-width: 850px) {
  .workshopcard_contianer {
    width: 90%;
  }
}
