.hero_section {
  padding-top: 10vmax;
  display: flex;
  gap: 1rem;
  

  .hero_left {
    width: 50%;

    h1 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 2.9rem;
      overflow: hidden;

    }

    p{
      margin-top: 1rem;
    }
    .button_wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;

      .button_left {
        padding: 1rem;
        background: linear-gradient(to right, #007a3c, #004f70);
        border: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          transition: ease-in-out 0.3s;
        }
        a {
          text-decoration: none;
        }
      }

      .button_right {
        cursor: pointer;
        padding: 1rem;
        background: linear-gradient(to right, #004f70, #007a3c);
        border: none;
        color: white;
        border-radius: 10px;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .hero_right {
    width: 50%;
    border-left: 2px solid greenyellow;

    .box {
        display: flex;
        justify-content: right;
        margin-top: 5rem;
    }
  }
}

.angle_investing {
  overflow: hidden;
  height: auto;
  .workshopcards_wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  h4 {
    padding: 2vmax 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    text-align: center;
  }
}

.seperator_image {
  color: #fff;
  height: 1.06667px;
  width: 288px;
  margin: 48px auto;
  max-width: 100%;
  border: 0;
  display: block;
  cursor: auto;
  transition: all 0s ease 0s;
}

.exclusive_card_container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  ExclusiveCard {
    padding: 1rem !important;
    color: black;
  }
}

.how_does_section {
  .endcard_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
}

.mastercard_wrapper {
  padding: 4vmax 0rem;
}

.how_section {
  .howcard_wrapper {
    // width: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap:5px;
    // align-items: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h4 {
    padding: 2vmax 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 850px) {
  .hero_section {

    .hero_left {
      width: 100%;
      padding: 1rem;
    }

    .hero_right {
      display: none;
    }
  }
  .how_section {
      .howcard_wrapper{
        gap: 8px;

      }
  }

}
