@import './pages/home.scss';
@import './components/navbar.scss';
@import './components/workshopcard.scss';
@import './components/exclusive_card.scss';
@import './components/horizontalvideocard.scss';
@import './components/endcard.scss';

.container {
  background-color: black;
  padding: 0 20vmax;
  color: white;
  min-height: 100vh;
}

@media screen and (max-width:850px) {
  .container {
    padding: 0 0;
  }
}
